Hero 4.10/Intermediate/CachedAssetRegistry.bin
Hero 4.10/Intermediate/CachedAssetRegistry.bin
Hero 4.10/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Hero 4.10/Saved/AutoScreenshot.png
Hero 4.10/Saved/Logs/Hero-backup-2016.01.12-15.50.45.log
Hero 4.10/Saved/AutoScreenshot.png
Hero 4.10/Intermediate/CachedAssetRegistry.bin
Hero 4.10/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Hero 4.10/Saved/Logs/Hero.log